<% if notice %>
<div id="notice" class="alert alert-success">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= notice %>
</div>
<% end %>

<div id="calendar"></div>
