$sizes: xsm, sm, md, lg, xlg;
$directions: top, right, bottom, left;
$spaces: 1px, 5px, 20px, 40px, 60px;

// font
$font-sizes: .5em, .8em, 1em, 1.2em, 1.5em;
@each $size in $sizes {
  $index-key: index($sizes, $size);

  .font-#{$size} {
    font-size: nth($font-sizes, $index-key);
  }
}

// text
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.yellow-text {
  color: $yellow;
}

.green-text {
  color: $green;
}

.lightgray-text {
  color: $lightgray;
}

.gray-text {
  color: $gray;
}

.white-text {
  color: $white;
}

// background
.background-color-lightgreen {
  background-color: $lightgreen;
}

.background-color-white {
  background-color: $white;
}

.background-color-green {
  background-color: $green;
}

.background-color-grade1 {
  background-color: $gold;
}

.background-color-grade2 {
  background-color: $silver;
}

.background-color-grade3 {
  background-color: $bronze;
}

// margin
@each $size in $sizes {
  $index-key: index($sizes, $size);
  @each $direction in $directions {
    .margin-#{$size} {
      margin: nth($spaces, $index-key);
    }

    .margin-#{$direction}-#{$size} {
      margin-#{$direction}: nth($spaces, $index-key);
    }
  }
}

// padding
@each $size in $sizes {
  $index-key: index($sizes, $size);
  @each $direction in $directions {
    .padding-#{$size} {
      padding: nth($spaces, $index-key);
    }

    .padding-#{$direction}-#{$size} {
      padding-#{$direction}: nth($spaces, $index-key);
    }
  }
}

// others
.border-0 {
  border: 0;
}

.nowrap {
  white-space: nowrap;
}

// header
.header-icon {
  padding: 15px 0 15px 15px;
}

// footer
footer ul {
  text-align: center;
}

footer li {
  display: inline;
  margin-right: 1em;
}

// created by http://cssarrowplease.com/
.arrow-box {
  background: $white;
  border: 2px solid $green;
  border-radius: 8px;
  color: $green;
  height: 34px;
  line-height: 30px;
  margin-left: 10px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: 50px;
}

.arrow-box:after,
.arrow-box:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
}

.arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: $white;
  border-width: 5px;
  margin-top: -5px;
}

.arrow-box:before {
  border-color: rgba(153, 153, 153, 0);
  border-right-color: $green;
  border-width: 8px;
  margin-top: -8px;
}
