// color
$green: hsla(120, 39%, 54%, 1);
$blue: hsla(208, 56%, 34%, 1);
$clearblue: hsla(221, 83%, 27%, 1);
$yellow: hsla(60, 100%, 50%, 1);
$verylightgray: hsla(0, 0%, 93%, 1);
$lightgray: hsla(0, 0%, 83%, 1);
$gray: hsla(0, 0%, 50%, 1);
$white: hsla(0, 0%, 100%, 1);
$lightgreen: hsla(149, 100%, 92%, 1);
$gold: hsla(51, 100%, 50%, 1);
$silver: hsla(0, 0%, 75%, 1);
$bronze: hsla(39, 26%, 44%, 1);
$pink: hsla(2, 77%, 75%, 1);
$ivory: hsla(60, 100%, 97%, 1);
