// color
$green: #5cb85c;
$blue: #265a88;
$clearblue: rgba(12, 48, 128, .5);
$yellow: #ff0;
$verylightgray: #eee;
$lightgray: #d3d3d3;
$gray: #808080;
$white: #fff;
$lightgreen: rgba(213, 255, 233, .25);
$gold: #ffd7d0;
$silver: #c0c0c0;
$bronze: rgba(140, 120, 83, 1);
$pink: rgba(240, 144, 141, 1);
$ivory: rgba(255, 255, 240, 1);
