@import "bootstrap";

.loginuser {
	color: #ffffff;
	line-height: 20px;
	position: relative;
	display: block;
	padding: 15px 15px;
	text-decoration: none;
	background-color: transparent;
	box-sizing: border-box;
}
