// 独自追加
.content-flex {
  display: flex;
  flex-flow: row nowrap;
}

.content-index {
  min-width: 100px;
}

.content-body {
  margin-left: 1rem;
}

// オリジナル(一部変更)
.jumpto-cotainer {
  position: relative;
}

.jumpto-subnav {
  background: $white;
  border: solid 1px hsla(0, 0%, 50%, .5);

  .jumpto-second {
    display: none;
  }

  &.fixed {
    left: auto;
    position: fixed;
    top: 60px;
    width: 100px;

    &.bottom {
      bottom: 0;
      position: absolute;
      top: auto;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li a {
      box-sizing: border-box;
      color: hsla(0, 0%, 50%, 1);
      display: block;
      font-size: 12px;
      padding: 10px;
    }
  }

  ul ul li a:hover,
  ul li a.active {
    background: hsla(0, 0%, 93%, 1);
  }

  ul > li > ul > li > a {
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .content-index {
    width: 100px;
  }

  .jumpto-subnav,
  .jumpto-subnav.fixed {
    width: 100px;
  }
}

@media screen and (min-width: 992px) {
  .content-index {
    min-width: 150px;
  }

  .jumpto-subnav,
  .jumpto-subnav.fixed {
    width: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .content-index {
    min-width: 200px;
  }

  .jumpto-subnav,
  .jumpto-subnav.fixed {
    width: 200px;
  }
}

.jumpto-title,
.jumpto-close a {
  background: hsla(0, 0%, 93%, 1);
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
}
