// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content-view {
	padding: 1em;
	background-color: rgba(250,250,250,1);
}
#title-view {
	font-size: 2em;
	line-height: 2em;
}