// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content-view {
	table {
		@extend .table;
		@extend .table-striped;
		@extend .table-bordered;
	}
}
.content-view-edit {
	height: 55rem;
	overflow: scroll;
}
#title-view {
	font-size: 3rem;
}
img {
	width: 100%;
}
.notice-row {
  margin: 0;
  padding: 5px 0;
  border-top: 1px solid lightgray;
}
.watched {
  background-color: #eee;
}

// http://tsmd.hateblo.jp/entry/2013/05/09/045110
.image-uploader {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: .5em;
  width: 100%;
  border-radius: .5em;
  background-color: #eee;
}

.image-uploader-input {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}

.new-report {
  position: fixed;
  bottom: -5rem;
  right: -3rem;
  background-color: $blue;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  padding-top: 3rem;
  padding-left: 4rem;
  color: white;
}
.new-report:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(12,48,128,0.5);
}

.like {
  position: fixed;
  bottom: -5rem;
  right: -3rem;
  font-size: 15rem;
  color: rgba(240,144,141,1);
}
.like:hover, .like:focus{
  color: rgba(240,144,141,1) !important;
}
.like-count {
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  font-size: 2.5rem;
  color: white;
}