// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bottom-action {
  margin-top: 1em;
  overflow: hidden;
}

.content-view {
  margin-bottom: 1em;

  table {
    @extend .table-bordered;
    @extend .table-striped;
    @extend .table;
  }

  &.mode-edit {
    height: 55rem;
    overflow: scroll;
  }
}

.title-view {
  background-color: $green;
  color: $white;
  font-size: 3rem;
  padding: .5rem;
}

img {
  width: 100%;
}

.notice-row {
  border-top: 1px solid $lightgray;
  margin: 0;
  padding: 5px 0;
}

.watched {
  background-color: $verylightgray;
}

// http://tsmd.hateblo.jp/entry/2013/05/09/045110
.image-uploader {
  background-color: $verylightgray;
  border-radius: .5em;
  display: inline-block;
  margin: 0 0 2em;
  overflow: hidden;
  padding: .5em;
  position: relative;
  width: 100%;
}

.image-uploader-input {
  cursor: pointer;
  font-size: 100px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.new-report {
  background-color: $blue;
  border-radius: 50%;
  bottom: -5rem;
  color: $white;
  height: 15rem;
  padding-left: 4rem;
  padding-top: 3rem;
  position: fixed;
  right: -3rem;
  width: 15rem;
}

.new-report:hover {
  background-color: $clearblue;
  color: $white;
  text-decoration: none;
}

.like {
  bottom: -5rem;
  color: $pink;
  font-size: 15rem;
  position: fixed;
  right: -3rem;
}

.like:hover,
.like:focus {
  color: $pink;
}

.like-count {
  bottom: 4rem;
  color: $white;
  font-size: 2.5rem;
  position: fixed;
  right: 3rem;
}
